body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif, Helvetica, Arial, sans-serif;
    background-color: #fff;
}
h1, h2 {
    color: #000;
    margin: 0 0 0 400px;
}
.jott{
    
    margin:0 0 0 670px;
}

h1 {
    padding:70px 0 0 0;
    font-size:70px; /* 4.375em */
    font-weight:bold;
}

h2 {
    padding:5px 0 0 0;
    margin:0 0 0 550px;
    font-size:20px; /* 1.25em */
    font-weight:normal;
}

h3 {
    color:#fff;
    font-size:18px; /* 1.125em */
    font-weight:bold;
}
.top_bar{
    background-color:#808080;
    padding:20px 7px 20px 4px;
}
.logo{
    height:80px;
    width:200px;
    margin-left:200px;
}
.sign_in{
    color:#fff;
}
.btn_one{
   
    margin:0 200px 0 0;
    float:right;
}
.one{
    height:30px;
    width:100px;
    color:#fff;
    background-color: #006E83;
}
#header{
    margin-top:0;
    min-height:500px;
    background-image: url('https://unsplash.imgix.net/13/unsplash_523ae1f5502d6_1.JPG?q=75&fm=jpg&s=539639982d3795e27c2f1e7c5b0e2507');
    background-size:cover;
    background-position:center,center;
}
.btn_two{
    margin:50px 0 0 700px;
}
.two{
    height:50px;
    width:150px;
    color: #fff;
    background-color: #f00;
}
.container {
    height:500px;
}
.container h2 {
    padding:10px 0 5px 0;
    margin: auto;
}
.container img {
    height:500px;
    width:1000px;
    margin:0 0 30px 0;
}
.container_two .one-third.column  { 
    width: 300px; 
}
.container_two { 
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.container_two .column, .container_two .columns {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#testimonials {
    padding:4em 0;
    text-align: center;
    background-color:#006E83;
}
#testimonials h2 {
    color:#fff;
    font-weight: 300;
    margin:0 10px 20px 0;
}
#testimonials p {
    color:#fff;
    font-size:1.2em;
}
#testimonials blockquote {
    border:none;
    text-align: left;
    padding:0 1.5em 0 0;
    font-size:1em;
    color:#fff;
    line-height: 1.4;
    margin-top: 1em;
}
#testimonials .avatar img {
    border-radius: 50%;
    float:left;
    display:inline;
    margin-right:1em;
    width:65px;
    height:65px;
}
#testimonials .avatar p {
    text-align: left;
    padding-top:1.5em;
    color:#000;
    font-weight: 900;
}
.bottom{
    min-height:450px;
    background-image: url('https://unsplash.imgix.net/1/work-stations-plus-espresso.jpg?q=75&fm=jpg&s=58bc41a85ec280e84271133e1d4adbf7');
    opacity: 0.4;
    background-size:cover;
    background-position:center,center;
}
.tag{
    padding-top:2em;
    margin:0 0 0 650px;
    color: #000;
}
footer{
    padding:20px 0 0 0;
    background-color: #000000;
}
a{
    text-decoration:none;
}
a:hover{
    color: #fff;
}
li{
    display:inline-block;
    padding:0 0 0 5px;
    margin:0 0 20px 10px;
}
/* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}