body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif, Helvetica, Arial, sans-serif;
    background-color: #fff;
}
h1, h2 {
    color: #000;
    margin: 0 0 0 400px;
}
.jott{
    font-size:70px;
    margin:0 0 0 670px;
}

h1 {
    padding:70px 0 0 0;
    margin:0 0 0 490px;
    font-size:50px; /* 4.375em */
    font-weight:bold;
}

h2 {
    padding:5px 0 0 0;
    margin:0 0 0 525px;
    font-size:20px; /* 1.25em */
    font-weight:normal;
}

h3 {
    color:#fff;
    font-size:18px; /* 1.125em */
    font-weight:bold;
}
header {
    padding:18px 0 12px 0;
    background-color: #808080;
    margin-top: 0;
}

    header #nav-bar nav {
        display:inline;
    }
    header #nav-bar nav ul {
        float: right;
        margin: 15px 70px;
        list-style-type: none;
    }
        header nav ul li {
            display: inline;
            padding:0 20px;
            font-family: 'Montserrat', Helvetica, Arial, sans-serif;
            font-size: 1.125em; /*16px*/
            text-transform: uppercase;
        }

        #nav-bar nav ul li#signup {
            background-color:#006E83;
            border: 2px solid #FFF;
            padding:7px 16px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;

        }
            #nav-bar nav ul li a {
                
                color:#fff;
                text-decoration: none;
            }
            #nav-bar nav ul li a:hover,
            #nav-bar nav ul li#signup:hover {
                opacity:.85;
            }
            #nav-bar img{
                max-height:40px;
                min-width:220px;
                padding:0 0 5px 0;
                margin-left:20px;
            }
#header{
    margin-top:0;
    min-height:500px;
    background-image: url('https://unsplash.imgix.net/13/unsplash_523ae1f5502d6_1.JPG?q=75&fm=jpg&s=539639982d3795e27c2f1e7c5b0e2507');
    background-size:cover;
    background-position:center,center;
}
.btn_two{
    margin:50px 0 0 700px;
}
.two{
    height:50px;
    width:150px;
    color: #fff;
    background-color: #f00;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius: 3px;
}
.container {
    height:515px;
}
.contain_h {
    padding:10px 0 0 310px;
    margin: 20px;
    font-size:30px;
}
.container img {
    height:500px;
    width:1000px;
    margin:0 0 100px 0;
}
.container_two .one-third.column  { 
    width: 300px; 
}
.container_two { 
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.container_two .column, .container_two .columns {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
#testimonials {
    padding:4em 0;
    text-align: center;
    background-color:#006E83;
}
#testimonials h2 {
    color:#fff;
    font-weight: 300;
    font-size: 30px;
    margin:0 10px 20px 0;
}
#testimonials p {
    color:#fff;
    font-size:1.2em;
}
#testimonials blockquote {
    border:none;
    text-align: left;
    padding:0 1.5em 0 0;
    font-size:1em;
    color:#fff;
    line-height: 1.4;
    margin-top: 1em;
}
#testimonials .avatar img {
    border-radius: 50%;
    float:left;
    display:inline;
    margin-right:1em;
    width:65px;
    height:65px;
}
#testimonials .avatar p {
    text-align: left;
    padding-top:1.5em;
    color:#000;
    font-weight: 900;
}
.bottom{
    min-height:400px;
   background-color:#808080;
}
.tag{
    padding-top:2em;
    margin:0 0 0 400px;
    color: #fff;
    font-size: 40px; 
    line-height: 48px;  
    width: 90%; 
}
.btn_three{
    margin:100px 0 0 700px;
    height:150px;
}
.three{
    height:50px;
    width:150px;
    color: #fff;
    background-color: #f00;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius: 3px;
}
footer {
    background-color: #000;
    min-height:80px;
    padding:20px;
     
}
footer nav ul li {
    display: inline;
    padding: 10px 20px 10px 0;
    font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif, Helvetica, Arial, sans-serif ;
    font-size: 1.125em; /*16px*/
    text-transform: uppercase;
    float: left;
    margin-left:20px;
}

footer nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight:bold;
}

footer nav ul li a:hover {
    color: #006E83;
    opacity:.85;
    text-decoration: none;
}

footer #social-media {
    float: right;
    margin-right:20px;
}

footer #social-media ul li {
    padding: 0 5px;
    display: inline;
}

footer #social-media {
    padding-bottom: 0;
    margin-top: 2px;
}


footer #social-media img {
    max-height:45px;
    max-width:45px;
}

footer #social-media img:hover {
    opacity: .9;
}

/* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}